*.[ao]
*.l[ao]
*~
.deps
.libs
.sc-start-sc_*
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
build-aux/mkinstalldirs
build-aux/config.rpath
build-aux/test-driver
config.cache
config.h
config.h.in
config.log
config.status
configure
libtool
m4
stamp-h1
*.spec
build/
tests/*.log
tests/*.trs
tests/__pycache__
tools/osinfo-db-validate
tools/osinfo-db-validate.exe
tools/osinfo-db-validate.1
tools/osinfo-db-import
tools/osinfo-db-import.exe
tools/osinfo-db-import.1
tools/osinfo-db-export
tools/osinfo-db-export.exe
tools/osinfo-db-export.1
tools/osinfo-db-path
tools/osinfo-db-path.exe
tools/osinfo-db-path.1
po/Makefile.in.in
po/POTFILES
po/stamp-it
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/remove-potcdate.sed
po/stamp-po
po/*.gmo
ABOUT-NLS
